@font-face {
	font-family: "xkcd";
	src: url('http://antiyawn.com/uploads/Humor-Sans.ttf');
}
body {
	font-family: "xkcd";
	counter-reset: card-number 0;
}
.card {
	color: #ffffff;
	background: #000000;
	font-size: 32px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 36px;
	height: 42px;
	float: left;
	margin: 1px;
}
.card-flipped {
	color: #000000;
	background: #ffffff;
}
.card:before {
	counter-increment: card-number;
	content: counter(card-number);
}
.card:nth-of-type(n) {transform: rotate(5deg); -moz-transform: rotate(5deg); -webkit-transform: rotate(5deg); -o-transform: rotate(5deg);}
.card:nth-of-type(2n) {transform: rotate(-3deg); -moz-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); -o-transform: rotate(-3deg);}
.card:nth-of-type(3n) {transform: rotate(-1deg); -moz-transform: rotate(-1deg); -webkit-transform: rotate(-1deg); -o-transform: rotate(-1deg);}
.card:nth-of-type(5n) {transform: rotate(2.5deg); -moz-transform: rotate(2.5deg); -webkit-transform: rotate(2.5deg); -o-transform: rotate(2.5deg);}
#response {
	float: left;
}
#action {
	float: left;
	margin-left: 25px;
}
#card-1 {
	width: 45%;
	float: left;
}
#card-2 {
	width: 45%;
	float: right;
}
.clear {
	clear: both;
}
